### Quiz 1
- 네이버 증권의 나스닥 페이지에서 최근 20일치의 나스닥 정보를 데이터 프레임으로 만드세요.
- 크롤링 URL : https://m.stock.naver.com/world/item.nhn?symbol=NAS@IXIC

In [1]:
url = "https://m.stock.naver.com/api/json/world/worldIndexDay.nhn?symbol=NAS@IXIC&pageSize=20&page=1"
response = requests.get(url)
nasdaq_dict = response.json()
nasdaq = nasdaq_dict["result"]["worldIndexDay"]
nasdaq_df = pd.DataFrame(nasdaq)
nasdaq_df.tail()

          cd    cr      cv        dt       hv       lv      ncv       nv
15  NAS@IXIC -0.41  -32.73  20190509  7929.78  7796.16  7910.59  7853.21
16  NAS@IXIC -0.26  -20.44  20190508  8004.49  7923.35  7943.32  7946.24
17  NAS@IXIC -1.96 -159.53  20190507  8070.97  7899.02  7963.76  8043.52
18  NAS@IXIC -0.50  -40.71  20190506  8135.54  7981.85  8123.29  7981.85
19  NAS@IXIC  1.58  127.22  20190503  8164.71  8084.80  8164.00  8092.88

### Quiz 2
- 네이버 영화 페이지에서 현재 상영영화 영화 제목과 평점데이터를 크롤링해서 데이터 프레임으로 만들어 주세요.
- 크롤링 URL : https://movie.naver.com/movie/running/current.nhn

In [10]:
from bs4 import BeautifulSoup

In [11]:
url = "https://movie.naver.com/movie/running/current.nhn"
response = requests.get(url)
dom = BeautifulSoup(response.content, "html.parser")
elementes = dom.select(".lst_wrap > .lst_detail_t1 > li")
movie_title = [elemente.select_one(".lst_dsc > .tit > a").text for elemente in elementes]
movie_star = [elemente.select_one(".lst_dsc > .star .num").text for elemente in elementes] 
df = pd.DataFrame({"title":movie_title, "star":movie_star})
df.tail()

                 title  star
94              크게 될 놈  8.92
95                 프리덤  7.36
96              해저 2만리  8.67
97  미스 사이공: 25주년 특별 공연  9.18
98               어글리 돌  9.18