### Quiz 1
- 네이버 증권의 나스닥 페이지에서 최근 20일치의 나스닥 정보를 데이터 프레임으로 만드세요.
- 크롤링 URL : https://m.stock.naver.com/world/item.nhn?symbol=NAS@IXIC

In [2]:
import requests
import pandas as pd

In [11]:
url = "https://m.stock.naver.com/api/json/world/worldIndexDay.nhn?symbol=NAS@IXIC&pageSize=20&page=1"
response = requests.get(url)

nas_json = response.json()
nas = nas_json["result"]["worldIndexDay"]

df = pd.DataFrame(nas)
df.tail()

          cd    cr      cv        dt       hv       lv      ncv       nv
15  NAS@IXIC  0.08    6.35  20190510  7949.34  7759.34  7916.94  7881.31
16  NAS@IXIC -0.41  -32.73  20190509  7929.78  7796.16  7910.59  7853.21
17  NAS@IXIC -0.26  -20.44  20190508  8004.49  7923.35  7943.32  7946.24
18  NAS@IXIC -1.96 -159.53  20190507  8070.97  7899.02  7963.76  8043.52
19  NAS@IXIC -0.50  -40.71  20190506  8135.54  7981.85  8123.29  7981.85

### Quiz 2
- 네이버 영화 페이지에서 현재 상영영화 영화 제목과 평점데이터를 크롤링해서 데이터 프레임으로 만들어 주세요.
- 크롤링 URL : https://movie.naver.com/movie/running/current.nhn

In [4]:
from bs4 import BeautifulSoup

In [5]:
url = "https://movie.naver.com/movie/running/current.nhn"
response = requests.get(url)
dom = BeautifulSoup(response.content, "html.parser")
selector = "#content > div.article > div:nth-child(1) > div.lst_wrap > ul > li"

movies = dom.select(selector)

In [6]:
movies[0].select_one(".lst_dsc > .tit > a").text

'기생충'

In [7]:
movies[0].select_one(".star_t1 > a > .num").text

'8.62'

In [24]:
name_list = [name.select_one(".lst_dsc > .tit > a").text for name in movies]
star_list = [star.select_one(".star_t1 > a > .num").text for star in movies]

In [23]:
df = pd.DataFrame({"title":name_list})
df["star"] = pd.DataFrame({"star":star_list})
df.tail()

                  title  star
105                 프리덤  7.36
106                 흑룡강  0.00
107             딸의 친구 3  7.20
108  미스 사이공: 25주년 특별 공연  9.18
109          항거:유관순 이야기  8.59